<header>
    <nav class="nav navbar navbar-expand-lg navbar-dark bg-dark pr-4">
  <div class="container-fluid ">
    <a class="navbar-brand" href="{% url 'home' %}">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        <a class="nav-link" href="{% url 'about' %}">Про нас</a>
        <a class="nav-link" href="{% url 'contacts' %}">Контакти</a>

      </div>

        <div class="navbar-nav">
<form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>
        <a class="nav-link" href="{% url 'login' %}">Вхід</a>
        <a class="nav-link" href="{% url 'register' %}">Реєстрація</a>

      </div>




    </div>
  </div>
</nav>
</header>